@charset "utf-8";
/* CSS Document */



.column.column-last,
.column36.column-last,
.column48.column-last,
.column60.column-last {
	margin-right:0;
}

/* margin 24px */

.column {float:left; margin-right:24px;}
.column-1-2 {width:468px;}
.column-1-3 {width:304px;}
.column-2-3 {width:632px;}
.column-1-4 {width:222px;}
.column-3-4 {width:714px;}
.column-1-2 img,
.column-1-2 iframe {max-width:468px;}
.column-1-3 img,
.column-1-3 iframe {max-width:304px;}
.column-2-3 img,
.column-2-3 iframe {max-width:632px;}
.column-1-4 img,
.column-1-4 iframe {max-width:222px;}
.column-3-4 img,
.column-3-4 iframe {max-width:714px;}

/* margin 36px */

.column36 {float:left; margin-right:36px;}
.column-1-2.column36 {width:462px;}
.column-1-3.column36 {width:296px;}
.column-2-3.column36 {width:628px;}
.column-1-4.column36 {width:213px;}
.column-3-4.column36 {width:711px;}
.column-1-2.column36 img,
.column-1-2.column36 iframe {max-width:462px;}
.column-1-3.column36 img,
.column-1-3.column36 iframe {max-width:296px;}
.column-2-3.column36 img,
.column-2-3.column36 iframe {max-width:628px;}
.column-1-4.column36 img,
.column-1-4.column36 iframe {max-width:213px;}
.column-3-4.column36 img,
.column-3-4.column36 iframe {max-width:711px;}

/* margin 48px */

.column48 {float:left; margin-right:48px;}
.column-1-2.column48 {width:456px;}
.column-1-3.column48 {width:288px;}
.column-2-3.column48 {width:624px;}
.column-1-4.column48 {width:204px;}
.column-3-4.column48 {width:708px;}
.column-1-2.column48 img,
.column-1-2.column48 iframe {max-width:456px;}
.column-1-3.column48 img, 
.column-1-3.column48 iframe {max-width:288px;}
.column-2-3.column48 img,
.column-2-3.column48 iframe {max-width:624px;}
.column-1-4.column48 img,
.column-1-4.column48 iframe {max-width:204px;}
.column-3-4.column48 img,
.column-3-4.column48 iframe {max-width:708px;}

/* margin 60px */

.column60 {float:left; margin-right:60px;}
.column-1-2.column60 {width:450px;}
.column-1-3.column60 {width:280px;}
.column-2-3.column60 {width:620px;}
.column-1-4.column60 {width:195px;}
.column-3-4.column60 {width:705px;}
.column-1-2.column60 img,
.column-1-2.column60 iframe {max-width:450px;}
.column-1-3.column60 img,
.column-1-3.column60 iframe {max-width:280px;}
.column-2-3.column60 img,
.column-2-3.column60 iframe {max-width:620px;}
.column-1-4.column60 img,
.column-1-4.column60 iframe {max-width:195px;}
.column-3-4.column60 img,
.column-3-4.column60 iframe {max-width:705px;}

