.header_wrapper {position:relative; border-top:8px #f04a39 solid;}
.header_wrapper .logo {margin: 20px 0 0 30px;}
#menu_wrapper {position:absolute; right:30px; top:10px;}
.menu_title, .menu_arrow {display:none;}
.main_menu a {position:relative; overflow:hidden; display:block; padding:3px 8px;}
.main_menu a span {position:relative; z-index:2; font-family:'OstrichSansBlack'; color:#5a5a5a; font-size:20px; line-height:20px; word-spacing:-4px; }
.main_menu a .menu_background {display:block; position:absolute; top:0; left:-100%; width:100%; height:100%; background-color:#f04a39; z-index:1;}
.main_menu li {float:left; position:relative;}
.main_menu {float:right; margin:20px 0px 0px 0;}
.main_menu ul {position:absolute; top:26px; left:0; margin:0; padding-top:4px; display:none; z-index:100;}
.main_menu li li {position:relative; padding:0 3px 3px 0; display:none;}
.main_menu li li a {width:134px;}
.main_menu li li a span {color:#ffffff; left:-100%;}
.main_menu ul ul {position:absolute; top:0; left:153px; padding-top:0px;}
.main_menu li li a:hover .menu_background {background-color:#F4773D;} 