.jcarousel-skin-tango .jcarousel-container {
    
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 192px;
    padding: 10px 20px;
	margin:0 auto;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  192px;
    height: 48px;
}


.jcarousel-skin-tango .jcarousel-item {
    width: 63px;
    height: 48px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 1px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 1px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 24px;
    right: -5px;
    width: 22px;
    height: 20px;
    cursor: pointer;
	opacity:0.5; 
	filter: alpha(opacity=50);
    background: transparent url(../images/usquare/car_arrows.png) no-repeat -23px 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
	opacity:1; 
	filter: alpha(opacity=100);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
	opacity:1; 
	filter: alpha(opacity=100);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
	opacity:1; 
	filter: alpha(opacity=100);
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
	cursor:default;
	opacity:0.5; 
	filter: alpha(opacity=50);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 24px;
    left: -5px;
    width: 22px;
    height: 20px;
    cursor: pointer;
	opacity:0.5; 
	filter: alpha(opacity=50);
    background: transparent url(../images/usquare/car_arrows.png) no-repeat 0px 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	opacity:1; 
	filter: alpha(opacity=100);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
	opacity:1; 
	filter: alpha(opacity=100);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	opacity:1; 
	filter: alpha(opacity=100);
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
	cursor:default;
	opacity:0.5; 
	filter: alpha(opacity=50);
}
