
/* -------------------------------------------------------------- */
/* --- REPSONSE 768px -------------------------------------------- */
/* -------------------------------------------------------------- */
@media screen and (max-width:980px) {
	#content {width:748px;}
	.res768hide {display:none !important; }
	

	
	

	/* ------------------- COLUMNS -------------------- */

	
	.column {margin-right:20px;}
	.column-1-2 {width:364px;}
	.column-1-2 img, 
	.column-1-2 iframe {max-width:364px;}
	.column-1-3 {width:236px;}
	.column-1-3 img, 
	.column-1-3 iframe {max-width:236px;}
	.column-2-3 {width:492px;}
	.column-2-3 img, 
	.column-2-3 iframe {max-width:492px;}
	.column-1-4 {width:172px;}
	.column-1-4 img, 
	.column-1-4 iframe {max-width:172px;}
	.column-3-4 {width:556px;}
	.column-3-4 img, 
	.column-3-4 iframe {max-width:556px;}
	
	
	.column36 {margin-right:32px;}
	.column-1-2.column36 {width:358px;}
	.column-1-2.column36 img, 
	.column-1-2.column36 iframe {max-width:358px;} 
	.column-1-3.column36 {width:228px;}
	.column-1-3.column36 img, 
	.column-1-3.column36 iframe {max-width:228px;} 
	.column-2-3.column36 {width:488px;}
	.column-2-3.column36 img, 
	.column-2-3.column36 iframe {max-width:488px;} 
	.column-1-4.column36 {width:163px;}
	.column-1-4.column36 img, 
	.column-1-4.column36 iframe {max-width:163px;} 
	.column-3-4.column36 {width:553px;}
	.column-3-4.column36 img, 
	.column-3-4.column36 iframe {max-width:553px;} 
	
	
	
	.column48 {margin-right:44px;}
	.column-1-2.column48 {width:352px;}
	.column-1-2.column48 img, 
	.column-1-2.column48 iframe  {max-width:352px;} 
	.column-1-3.column48 {width:220px;}
	.column-1-3.column48 img, 
	.column-1-3.column48 iframe {max-width:220px;} 
	.column-2-3.column48 {width:484px;}
	.column-2-3.column48 img, 
	.column-2-3.column48 iframe {max-width:484px;} 
	.column-1-4.column48 {width:154px;}
	.column-1-4.column48 img, 
	.column-1-4.column48 iframe {max-width:154px;} 
	.column-3-4.column48 {width:550px;}
	.column-3-4.column48 img, 
	.column-3-4.column48 iframe {max-width:550px;} 
	
	
	
	.column60 {margin-right:56px;}
	.column-1-2.column60 {width:346px;}
	.column-1-2.column60 img, 
	.column-1-2.column60 iframe  {max-width:346px;} 
	.column-1-3.column60 {width:212px;}
	.column-1-3.column60 img, 
	.column-1-3.column60 iframe {max-width:212px;} 
	.column-2-3.column60 {width:480px;}
	.column-2-3.column60 img, 
	.column-2-3.column60 iframe {max-width:480px;} 
	.column-1-4.column60 {width:145px;}
	.column-1-4.column60 img, 
	.column-1-4.column60 iframe {max-width:145px;} 
	.column-3-4.column60 {width:547px;}
	.column-3-4.column60 img, 
	.column-3-4.column60 iframe {max-width:547px;} 
	
	 .column .nivoSlider img, .column36 .nivoSlider img, .column48 .nivoSlider img, .column60 .nivoSlider img
	 {max-width:none !important;}
	


/*						Widgets						*/
.footer_logo_widget img {margin:0 10px 10px 10px;}

.social_links {width:166px; margin:0 3px 0 3px;}
.social_links .social_holder {margin:3px 3px 0px 0;}


/*						BLOG							*/
.blog_posts_wrapper {width:477px;}
.blog_posts_wrapper img {max-width:477px;}


/*						BLOG POST					*/
.blog_post_social_links li {margin:12px 3px 0px 3px;}


/*						ABOUT							*/
.about_us_column {padding-left:13px; margin-right:27px;}
.use-success .column_about {margin-right:53px;}


/*      404        */
.image404 {width:748px;}
.text404 {font-size:30px; line-height:30px; top:160px; right:50px; width:340px;}

/*				PRODUCTS				*/
ul.image_module {padding-left:17px; width:732px;}
.image_module li.last {margin:0 17px 17px 0;}


/*				PRODUCT PAGE				*/
.product_page_slider_text_wrapper {width:328px; margin-top:50px;}
.product_page_slider_image_wrapper {width:420px;}
.product_page_slider_image_wrapper img {width:420px;}

.small_product_block {margin-right:5px;}

.price_info {width:350px;}
.order_now {width:350px;}
.order_now input {width:214px; height:30px;}



}
/* -------------------------------------------------------------- */
/* --- REPSONSE 440px ------------------------------------------- */
/* -------------------------------------------------------------- */
@media screen and (max-width:768px) {
	#content {width:420px;}
	.res440hide {display:none !important;}
	
	
	.column, .column36, .column48, .column60
	 {margin-right:0px !important; width:420px !important;}
	.column img, .column36 img, .column48 img, .column60 img,
	.column iframe, .column36 iframe, .column48 iframe, .column60 iframe
	 {max-width:100% !important}
	 .column .nivoSlider img, .column36 .nivoSlider img, .column48 .nivoSlider img, .column60 .nivoSlider img
	 {max-width:none !important;}
	 
	 /*			Widgets				*/
	 .footer_logo_widget img {margin:0 130px 10px 130px;}
	 .separator.footer_separator.footer_separator_red {margin-left:110px;}
	 .social_links {margin:10px auto;}
	
	/*						BLOG							*/
.blog_posts_wrapper {width:100%; border:none;}
.blog_posts_wrapper img {max-width:100%;}

.sidebar_wrapper {display:none;}
	
	
	/*						BLOG POST					*/
.blog_post_social_links {float:left;}
.contact_form_widget .contact_left_column input {width:100%;}
.contact_form_widget .contact_left_column {float:none;}
.contact_form_widget .textarea_wrapper {float:none; margin-left:0;  margin-right:0px;}	
.contact_form_widget .textarea_wrapper div {margin-right:2px;}	
.contact_form_widget .contact_left_column {margin-right:2px;}		
.comment_wrapper .subcomment_wrapper {margin-left:30px;}

.small_blog_post span.text {width:100%;}



/*						ABOUT							*/
.column_about {width:100%;}
.red_line_about {display:none;}
.about_us_column {padding-left:0px; margin-right:0px;}
.use-success .column_about {margin-right:0px; width:100%; text-align:center;}


/*						MENU							*/	
.header_wrapper .logo {margin: 20px auto 0; display:block;}

#menu_wrapper {position:relative; width:274px; margin: 10px auto; background:#fff; cursor:pointer; border:3px solid #f04a39; right:0; top:0;}
.menu_title {display:block; margin:0; padding:6px 10px 2px; font-family:'OstrichSansBlack'; color:#f04a39; font-size:20px; line-height:20px; word-spacing:-4px; }
.menu_arrow.active {display:block; position:absolute; right:7px; top: -1px; width:0; height:0; border:10px solid transparent; border-bottom:10px solid #f04a39;}
.menu_arrow {display:block; position:absolute; right:7px; top: 10px; width:0; height:0; border:10px solid transparent; border-top:10px solid #f04a39;}
.main_menu {display:none; width:274px;  margin:0 0 0 -3px; float:none; overflow-x:hidden; overflow-y:visible; background:#fff; position:absolute; top:28px; left:0; z-index:999; border:3px solid #f04a39; border-bottom:2px solid #f04a39;}
.main_menu li {width:100%; morgin:0; padding:0 0 5px 0;}
.main_menu li ul {width:100%; position:static; display:block; padding:0 0 10px 0;}
.main_menu li li {display:block; position:static; padding:0; margin:0;}
.main_menu li li a,
.main_menu li a,
.main_menu li.current a {width:100%; padding:3px 10px; display:block;  background:#fff; text-align:left; color:#5a5a5a; text-shadow:none; font-size:14px; line-height:14px; height:auto;}

.main_menu li li a:hover,
.main_menu li a:hover,
.main_menu li.current a:hover {
	background:#f04a39;
}
.main_menu li li a:hover span,
.main_menu li a:hover span,
.main_menu li.current a:hover span{
	color:#ffffff;
}
.main_menu li li a span {color:#5a5a5a; left:0;}


/*					CONTACTS				*/
.contact_page_form.contact_form_widget .textarea_wrapper {margin-right:0px;}	
.contact_page_form.contact_form_widget .textarea_wrapper div {margin-right:2px;}

/*      404        */
.image404 {width:420px;}
.text404 {font-size:17px; line-height:17px; top:90px; right:40px; width:180px; font-weight:500;}

/*				PRODUCTS				*/
ul.image_module {padding-left:17px; width:248px; margin:auto;}

/*				PRODUCT PAGE				*/
.product_page_slider_text_wrapper {width:420px; margin-top:24px;}
.product_page_slider_image_wrapper {width:420px;}
.product_page_slider_image_wrapper img {width:420px;}

.small_product_block {margin:0 13px 0 14px;}

.price_info {width:420px; border-right:0; margin-right:0; padding-right:0; border-bottom:1px solid #a9a8a8; padding-bottom:23px; margin-bottom:24px;}
.order_now {width:420px; border-left:0; padding-left:0;}
.order_now input {width:284px; height:30px;}



}
/* -------------------------------------------------------------- */
/* --- REPSONSE 300px ------------------------------------------- */
/* -------------------------------------------------------------- */

@media screen and (max-width:440px) {
	#content {width:280px;}
	.res300hide {display:none !important; }
	.column, .column36, .column48, .column60
	 {width:280px !important;}


.blog_image_wrapper .image_hover_links {width:150px;}


	
 /*			Widgets				*/
.footer_logo_widget img {margin:0 65px 10px 65px;}
.separator.footer_separator.footer_separator_red {margin-left:49px;}
	
/*						ABOUT							*/
.headline span {font-size:40px; line-height:40px;}
.headline h1 {font-size: 70px; line-height:70px;}

/*						BLOG POST						*/
.comment_wrapper .subcomment_wrapper {margin-left:20px;}

/*      404        */
.holder404 {height:300px;}
.image404 {position:absolute; left:-140px;}
.text404 {top:90px; right:40px;}

/*				ELEMENTS				*/
.testimonial_quote_bottom_wrapper {padding-top:48px;}
.testimonial_quote_text_wrapper span {font-size:14px; line-height:16px;}


/*				PRODUCT PAGE				*/
.product_page_slider_text_wrapper {width:280px; margin-top:24px;}
.product_page_slider_image_wrapper {width:280px;}
.product_page_slider_image_wrapper img {width:280px;}

.small_product_block {margin:0 48px 0 49px;}

.price_info {width:280px; border-right:0; margin-right:0; padding-right:0;}
.order_now {width:280px; border-left:0; padding-left:0;}
.order_now input {width:144px; height:30px;}


}