/*			widgets			*/

.widget {margin:24px 0 0 0;}
.widget a {color:#f04a39;}
.widget h2 {border:none; margin-bottom:10px; color:#807f7f;}





/*		Contact Us Widget		*/
.contact_us_widget li {font-family:'PTSansBold'; font-size:13px; margin-bottom:2px; color:#807f7f;}
.contact_us_widget span {line-height:18px;}
.contact_hq {margin-top:24px;}
.contact_address {display:block; float:none;}
.footer_link {font-family:'PTSansRegular';}


/*		Logo Widget			*/
.footer_logo_widget img {margin:0 36px 10px 36px;}

/*		Follow Us Widget		*/
.social_links {width:216px; margin:5px 3px 0 3px;}

.social_links .social_holder {display:block; position:relative; overflow:hidden; float:left; width:39px; height:39px; margin:10px 20px 5px 0;}
.social_links .social_holder.fourth_link {margin-right:0;}
.social_links .social_holder img {background:#515252; position:absolute; top:0; left:0;}
.social_links .social_holder img.hoverSoc {background:#f04a39;top:39px;}

/*		Recent Blog Posts Widget		*/
.recent_blog_posts_widget a {color:#807f7f; font-family:'PTSansRegular'; font-size:14px; line-height:18px;}
.recent_blog_posts_widget a:hover {color:#f04a39;}

/*					SIDEBAR						*/

.blog_right {
	font-size:14px;
	line-height:14px;
}


.blog_right h5{ 
	text-transform:uppercase;
	font-weight: normal;
	font-size:19px;
	height: 24px;
	padding: 2px 14px;
	background-color:#f04a39; 
	color: #fff; 
	line-height: 24px;
	margin: 0 0 15px 0;
}

.blog_right ul{
	list-style:none;
	padding:0;
	margin:0;
}


}
.blog_right ul.widget_recent_posts {
	padding:15px 0 0  0;
}

/* --- widget tabs/recent post/coments --- */

.tabs ul.widgetTabs li {
	float:left;
	margin:0;
	padding:0;
	
}
.tabs ul.widgetTabs li.last {
	float:right;
}
.tabs ul.widgetTabs li a{
	text-transform:uppercase;
	font-size:20px;
	text-align:center;
	height: 24px;
	width:72px;
	padding: 2px 0;
	margin:0 3px 0 0; 
	background-color:#f0f4f7; 
	color:#807f7f; 
	line-height: 23px;
	display: block;
	font-family:'OstrichSansMedium';
	font-weight: normal;
	border:0;
	}
.tabs ul.widgetTabs li.last a {
	margin-right:0px; 
	margin-left:0px;
}
.tabs ul.widgetTabs li a:hover,
.tabs ul.widgetTabs li a.active {
	border-bottom:2px #f04a39 solid;
}
.widget-tabs-inside {
	padding:0;
	border:0;
	background:none;
}
.widget-tabs-inside ul {
	margin:0;
}

.widget_recent_posts li {
	margin-bottom:10px;
	padding:5px 0px 10px 0px;
	border-bottom:1px #a9a8a8 solid;
	font-size:13px;
	line-height:13px;
}


.widget-tabs-inside .post_name {
	display:block;
	padding:3px 5px;
	color:#fff;
	background-color:#f04a39;
	float:left;
	font-family:'PTSansRegular';
	font-size:14px;
	line-height:18px;
	text-align:left; 
}

.widget-tabs-inside span {
	font-family:'PTSansRegular';
	font-size:12px;
	line-height:12px;
	text-align:left;
	color:#807f7f;
	margin:5px 0 0 0;
	display:block;
}

.tabs_red_line {
border-top:2px #f04a39 solid;
width:100%;
margin-bottom:10px;
}


/* --- widget contact --- */

.contact_form_widget {margin-bottom:20px;}
.contact_form_widget input {font-size:14px; display:block; border:1px #f04a39 solid; width:218px; height:30px; background-color:#f0f4f7; margin-bottom:5px;}
.contact_form_widget textarea {font-size:14px; display:block; border:1px #f04a39 solid; width:218px; background-color:#f0f4f7; resize:none;}
.contact_form_widget span span {color:#494949; margin-left:5px;}
.contact_form_widget span {display:inline-block; margin:2px 5px 2px 0;}
.contact_form_widget .send,  .contact_form_widget .clearTextarea{width:50px; color:#fff; font-size:26px; margin:5px 2px 5px 5px; float:right;}
.contact_form_widget .empty {background:#fd9376 !important; color:#fff !important;}

/* --- widget search --- */

.widget_search {display:block; height:70px;}
.widget_search input {
	font-size:14px; display:block; border:1px #f04a39 solid;  background-color:#f0f4f7;
	float:left;
	padding:1px 0 1px 2px;
	height:30px;
	width:181px;
	
	
	
}
.widget_search input.submit_butt {
	width:36px;
	height:34px;
	margin-left:0px;
	background:#f04a39 url('../images/social/zoom.png') no-repeat center center;
	cursor:pointer;
}

/* --- widget pages --- */

.widget .page_item a,
.widget .cat_item a{
	display:block;
	text-transform:uppercase;
	font-size:18px;
	height: 24px;
	padding: 2px 14px;
	margin-bottom:2px;
	border-left:5px solid #f04a39; 
	background-color:#f0f4f7; 
	color:#807f7f; 
	line-height: 24px;
	font-family:'OstrichSansMedium';
	font-weight:100;
}

.widget .widget-title {	
  text-transform:uppercase;
	font-size:20px;
	height: 24px;
	padding: 2px 16px;
	margin:0 0 10px 0; 
	background-color:#f0f4f7; 
	color:#807f7f; 
	line-height: 23px;
	display: block;
	font-family:'OstrichSansMedium';
	font-weight: normal;
	text-align:left;
	border-bottom:2px #f04a39 solid;
	}


/*			Calendar Widget			*/

#calendar_wrap {
		background:#f0f4f7;; 
}

table.calendar {
	color:#807f7f;
	font-family:'OstrichSansMedium';
	font-weight:100;
}
table.calendar caption {
	font-size: 17px;
	background:#d9dce3;
	padding:2px 0px;
	width:222px;
	
}
table.calendar th {
	font-weight:100;
	padding:7px 12px 7px 12px;
}
table.calendar td {
	padding:7px 10px 7px 9px;
	position:relative;
	text-align:center;
}
table.calendar td#today {
	background:#f04a39;
	color:#fff;
}
table.calendar td#today a {
	color:#fff;
}

table.calendar .prev {
	display:block;
	height:16px;
	width:16px;
	margin-left:3px;
	margin-top:1px;
	background:url(../images/blog_post/arrowb.png) no-repeat left center;
}
table.calendar .next {
	display:block;
	height:16px;
	width:16px;
	margin-top:1px;
	margin-right:5px;
	background:url(../images/blog_post/arrow.png) no-repeat right center;
}