body {font-family:'PTSansRegular'; font-size:14px; line-height:18px; text-align:left; color:#807f7f;}
ul {padding:0; margin:0;}
li {list-style:none; padding:0; margin:0;}
a {text-decoration:none;}
img {border:none;}
span {font-family:'PTSansRegular'; font-size:14px; line-height:18px; text-align:left; color:#807f7f;}
input {font-family:'PTSansRegular'; color:#807f7f;}
textarea {font-family:'PTSansRegular'; color:#807f7f;}
header {margin-bottom:40px;}



h1 {font-weight:100; font-family:'OstrichSansMedium'; color:#f04a39; font-size:60px; padding:0; margin:0; line-height:60px;}
h2 {font-weight:100; font-family:'OstrichSansMedium'; color:#f04a39; font-size:40px; padding:0; margin:0; line-height:40px;}
h3 {font-weight:100; font-family:'OstrichSansMedium'; color:#807f7f; font-size:32px; padding:0; margin:0; line-height:32px;}
h4 {font-weight:700; font-family:'OstrichSansMedium'; color:#807f7f; font-size:26px; padding:0; margin:0; line-height:26px;}
h5 {font-weight:700; font-family:'OstrichSansMedium'; color:#807f7f; font-size:22px; padding:0; margin:0; line-height:22px;}
h6 {font-weight:700; font-family:'OstrichSansMedium'; color:#807f7f; font-size:20px; padding:0; margin:0; line-height:18px;}
h1.slogan {font-weight:100; padding:0; margin:0; font-family:'OstrichSansBlack'; font-size: 90px; line-height:90px; text-align:center; color:#f04a39;}
h2.separator_h2 {font-weight:100; font-family:'OstrichSansMedium'; color:#f04a39; font-size:40px; padding:0; margin:0; line-height:40px; border-bottom: 2px #f04a39 solid; display:inline-block;}
h3 {font-weight:100; font-family:'OstrichSansMedium'; color:#807f7f; font-size:32px; padding:0; margin:0; line-height:32px;}
h5.small_header {font-weight:100; font-family:'PTSansRegular'; font-size:14px; line-height:18px; text-align:center; color:#5a5a5a; padding:0; margin:0;}




.ptsansbold {font-family:'PTSansBold' !important;}
.clear {clear:both;}
.separator {border-top:2px #a9a8a8 solid; width:100%; margin-top:-2px;}
.separator2 {border-top:1px #a9a8a8 solid; margin-bottom:10px;}
.separator.footer_separator {border-top:8px #a9a8a8 solid; margin-top:-8px;}
.separator.footer_separator.footer_separator_red {position:relative; z-index:2; border-top:8px #f04a39 solid; display:block;margin-top:24px; margin-left:20px; width:182px;}
#content {margin:0 auto; width:960px; position:relative;}
.read_more {background-color:#f04a39; display:block;  width:87px; color:#fff; font-size:28px; line-height:26px; font-family:'OstrichSansMedium'; text-align:center; padding:6px 6px 3px 6px;}
.read_more:hover {background-color:#F4773D;}
.left {float:left;}
.right {float:right;}
.padd-right5 {padding-right:5px;}
.automargin {margin:0 auto;}
.display-none {display:none;}


.no_marg_bottom {margin-bottom:0 !important;}
.no_marg_top {margin-top:0 !important;}
.margin_bottom {margin-bottom:24px !important;}
.margin_top {margin-top:24px !important;}
.margin_bottom48 {margin-bottom:48px !important;}
.margin_top48 {margin-top:48px !important;}
.margin_bottom60 {margin-bottom:60px !important;}
.margin_top60 {margin-top:60px !important;}
.margin_bottom15 {margin-bottom:15px !important;}
.margin_top15 {margin-top:15px !important;}

/*		footer		*/

.footer-wrapper {margin-bottom:24px;} 
.footer-column {padding:0; float:left;}


/*		4 columns		*/

.column4_wrapper {margin:0 auto;}
.column-1-4 span.column_bold {font-family:'PTSansBold'; font-size:13px; margin-top:5px; margin-bottom:2px; color:#5a5a5a; display:block; text-align:center;}
.column-1-4 .column_regular {display:block; text-align:center; margin-top:5px;}
.column4_wrapper .column-1-4 img {display:block; margin:0px 0 10px 0; border-bottom:2px #f04a39 solid;}

/*		Popular Blog		*/

.date {margin:10px 0 0 0;}
.date a.comments {background:url('images/comment.png') no-repeat top left; width:35px; height:37px; padding:5px 0 0 0;}
.date a.comments:hover {background:url('images/comment.png') no-repeat bottom left; }
.date span, .date a {background-color:#f04a39; display:block; color:#fff; font-size:28px; line-height:28px; font-family:'OstrichSansMedium'; text-align:center; padding:5px 10px 2px 10px; float:left; margin-right:4px;}
.date span{text-align:left; max-width:150px;}
.popular_post img {display:block; overflow:hidden; margin-bottom:10px; margin-top:10px; border-bottom:2px #f04a39 solid;}
.image_holder {position:relative; overflow:hidden;}
.image_hover_links {position:absolute; height:40px; width:100%; top:50%; margin:-20px 0 0 0; overflow:hidden; text-align:center;}
.blog_image_wrapper .image_hover_links {width:300px; top:0; right:0; margin:10px; text-align:right;}
.image_hover_links img.image_left_arrow,
.popular_post .image_hover_links img.image_left_arrow {cursor:pointer; float:left; margin:0 0 0 -40px; position:relative; z-index:10;}
.image_hover_links img.image_right_arrow,
.popular_post .image_hover_links img.image_right_arrow {cursor:pointer; float:right; margin:0 -40px 0 0; position:relative; z-index:10;}
.image_hover_links a,
.popular_post .image_hover_links a {display:inline-block; height:39px; width:39px; position:relative; z-index:10; overflow:hidden;}
.image_hover_links img,
.popular_post .image_hover_links img {display:block; background:#f04a39; margin:0; border:0 !important;}

.blog_image_wrapper .image_hover_links a,
.blog_image_wrapper .popular_post .image_hover_links a,
.blog_image_wrapper .image_hover_links img,
.blog_image_wrapper .popular_post .image_hover_links img {width:35px; height:35px;}

.image_hover_links img:hover,
.popular_post .image_hover_links img:hover {background:#F4773D;}
.image_hover_links a img,
.popular_post .image_hover_links a img {position:absolute; top:40px; left:0;}
.column-1-3_text { display:inline-block; margin-bottom:10px;}




/*				ABOUT US PAGE				*/

/*		About Us		*/
.column_about {width:214px; margin-bottom:48px; float:left;}
.about_us_column {padding-left:24px; margin-right:111px;}
.about_us_column.column_last {margin-right:0;}
.red_line_about {border-bottom:4px #f04a39 solid; width:100%; margin-bottom:-38px; margin-top:62px;}
.about_us_column span {text-align:center; display:block;}
.column_number {padding-top:15px; font-family:'OstrichSansBlack'; font-size: 50px; line-height:50px; color:#fff; background:url('images/column_number_bg.png') no-repeat top left; width:75px; height:59px; margin:0px auto 24px auto;}


/*	Headline	*/
.headline {margin-top:48px; margin-bottom:48px;}
.headline span {font-family:'OstrichSansMedium'; font-size:50px; line-height:50px; color:#000; text-align:center; display:block;}


/*		Product Use vs Success		*/
.use-success h3 {text-align:center; margin:48px 0 0 0;}
.use-success img {margin:24px 0;}
.use-success .separator2 {margin:10px 0;}
.use-success .large_numbers {font-family:'OstrichSansBlack'; color:#5a5a5a; font-size:90px; line-height:90px; text-align:center;}
.use-success span {display:block; margin:0px 24px 0px 24px;}
.use-success .column_about {margin-right:159px; width:214px;}
.use-success .column_about.column_last {margin-right:0;}




/*				PRODUCTS				*/ 

.products_gallery_wrapper .separator {margin-bottom:17px;}
.products_gallery_wrapper {margin:0 0 -17px 0;}
ul.image_module {padding:7px 0 0 0;}
.image_module li {display:block; width:227px; height:463px; position:relative; margin:0 17px 17px 0; float:left; overflow:hidden;}
.image_module li .product_image {position:relative; display:block;}
.image_module li .grayscale_image {position:absolute; top:0; left:0; display:block;}
.image_module li.last {margin:0 0 17px 0;}
.image_module li .date {position:absolute; top:0px; left:10px;}
.image_module li .slide_in_block {display:block; position:absolute; background:#fff; bottom:-100%; left:0; padding:5px; border-top:2px #f04a39 solid;}
.image_module li h5 {text-align:left; display::block; margin-top:10px;}
.image_module li .read_more {margin-top:10px;}



/*		Grayscale		*/
.image_module li img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */}
.image_module li:hover img {
    filter: none;
    -webkit-filter: grayscale(0);}


/*				BLOG PAGE				*/

/*		Sidebar			*/
.sidebar_wrapper {width:222px; padding-left:24px; margin:24px 0 0 0px; float:right;}


/*		Blog Posts		*/
.blog_posts_wrapper {width:689px; float:left;  border-right:1px #a9a8a8 solid; margin:24px 0 0 0px; padding-right:24px;}
.blog_post img {display:block; border-bottom:3px #f04a39 solid; margin-bottom:10px;}
.blog_post .read_more {margin-top:10px;}
.blog_post .date {position:absolute; top:0px; left:10px;}
.blog_image_wrapper {position:relative;}
.blog_post h3 {margin:24px 0 10px 0;}
.blog_separator {margin:24px 0;}

/*		Blog Navigation		*/
.blog_navigation ul{text-align:center;}
.blog_navigation li {display:inline-block; margin:0 2px; position:relative;}
.blog_navigation a {display:block; padding:5px 10px 5px 10px; margin:0 0px 0 0; background-color:#e7e7e7; height:21px; font-family:'OstrichSansMedium'; color:#807f7f; font-size:23px; line-height:21px; text-align:center; position:relative; overflow:hidden;}
.blog_navigation a span {display:block; position:absolute; height:100%; width:100%; font-family:'OstrichSansMedium'; color:#807f7f; font-size:23px; line-height:21px; text-align:center; left:0; padding:5px 0;}
.blog_navigation a .nav_inner {top:0;}
.blog_navigation a .nav_inner_hover {top:100%; background:#f04a39; color:#fff;}
.blog_navigation .nav, .blog_navigation .nav span, .blog_navigation .nav2, .blog_navigation .nav2 span  {font-family:sans;}
.blog_navigation .nav {margin-right:10px;}
.blog_navigation .nav2 {margin-left:10px;}
/*			BLOG POST PAGE			*/

/*		Big Image Post		*/
.blog_post_text {display:block; margin:20px 0;}
.author_category_wrapper {float:left;}
.blog_span_bg {color:#fff; background-color:#f04a39; padding:0 3px 1px 3px; display:inline-block; margin-bottom:3px;}
.blog_span_bg span {color:#fff; margin-right:3px;}
.blog_post_social_links {float:right;}
.blog_post_social_links li {float:left; margin:10px;}
.blog_post_social_links li a {display:block; width:31px; height:20px;}
.blog_post_social_links .fb,  .blog_post_social_links .social_facebook{background:url(images/blog_post/social/fb.png) no-repeat center center;}
.blog_post_social_links .yah,  .blog_post_social_links .social_yahoo {background:url(images/blog_post/social/yah.png) no-repeat center center;}
.blog_post_social_links .rss,  .blog_post_social_links .social_rss {background:url(images/blog_post/social/rss.png) no-repeat center center;}
.blog_post_social_links .pin,  .blog_post_social_links .social_pinterest {background:url(images/blog_post/social/pin.png) no-repeat center center;}
.blog_post_social_links .yt,  .blog_post_social_links .social_youtube {background:url(images/blog_post/social/yt.png) no-repeat center center;}
.blog_post_social_links .in,  .blog_post_social_links .social_linkedIn {background:url(images/blog_post/social/in.png) no-repeat center center;}
.blog_post_social_links .tw,  .blog_post_social_links .social_twitter {background:url(images/blog_post/social/tw.png) no-repeat center center;}
.blog_post_social_links .dig,  .blog_post_social_links .social_digg {background:url(images/blog_post/social/dig.png) no-repeat center center;}

.blog_post_social_links .fb:hover,  .blog_post_social_links .social_facebook:hover {background:url(images/blog_post/social/fb1.png) no-repeat center center;}
.blog_post_social_links .yah:hover,  .blog_post_social_links .social_yahoo:hover {background:url(images/blog_post/social/yah1.png) no-repeat center center;}
.blog_post_social_links .rss:hover,  .blog_post_social_links .social_rss:hover {background:url(images/blog_post/social/rss1.png) no-repeat center center;}
.blog_post_social_links .pin:hover,  .blog_post_social_links .social_pinterest:hover {background:url(images/blog_post/social/pin1.png) no-repeat center center;}
.blog_post_social_links .yt:hover,  .blog_post_social_links .social_youtube:hover {background:url(images/blog_post/social/yt1.png) no-repeat center center;}
.blog_post_social_links .in:hover,  .blog_post_social_links .social_linkedIn:hover {background:url(images/blog_post/social/in1.png) no-repeat center center;}
.blog_post_social_links .tw:hover,  .blog_post_social_links .social_twitter:hover {background:url(images/blog_post/social/tw1.png) no-repeat center center;}
.blog_post_social_links .dig:hover,  .blog_post_social_links .social_digg:hover {background:url(images/blog_post/social/dig1.png) no-repeat center center;}

.tags_list {margin-bottom:50px;}
.tags_list li {display:inline-block;}
.tags_list span {color:#fff; margin:0px;}

.quote_image {float:left; border-bottom:0 !important; margin:0 15px 15px 0;}
.quote_text {font-family:'PTSansItalic';}

/*		Related Post		*/

.small_blog_post img {float:left; margin-right:10px; margin-bottom:10px;}
.small_blog_post span.text {display:inline-block; width:390px; margin-top:10px;}
.small_blog_post .date {position:inherit; top:auto; left:auto; display:inline;}
.small_blog_post_text_wrapper {float:left;}

/*		Comments			*/
.comment_wrapper {margin-top:24px;}
.comment_image_wrapper {float:left; width:80px; height:100%; margin-right:10px;}
.comment_image_wrapper .reply {width:68px; line-height:25px; padding:5px 6px 3px 6px;}
.comment_wrapper .author_category_wrapper {float:none;}
.comment_wrapper .subcomment_wrapper {margin-left:50px;}
.contact_left_column {float:left;}
.textarea_wrapper {margin-left:40px; float:left; margin-right:-260px; overflow:hidden; width:100%;}
.textarea_wrapper div {margin-right:262px;}
.textarea_wrapper textarea {width:100% !important; height:160px; padding:0;}



/*							CONTACT								*/

.contact_page_image_wrapper {background-color:#f04a39; width:40px; height:40px; float:left;}
.contact_page_image_wrapper img {margin:8px 0 0 5px;}
.contact_column h3 {background-color:#f0f4f7; padding:4px 0 4px 50px;}
.contact_column span span {font-family:'PTSansBold'; display:block; margin:15px 0 5px 0;}
.contact_column_image {margin:10px 0;}

.contact_page_form.contact_form_widget input {width:300px;}
.contact_page_form.contact_form_widget .textarea_wrapper {margin-right:-342px;}	
.contact_page_form.contact_form_widget .textarea_wrapper div {margin-right:344px;}
.contact_page_form.contact_form_widget .textarea_wrapper textarea {padding:0;}

/*       404          */

.holder404 {position:relative;}
.text404 {font-family:'OstrichSansMedium'; font-weight:700; position:absolute; top:200px; right:110px; width:410px; font-size:36px; line-height:36px; color:#494949;}


/*					ELEMENTS						*/


/*	Testimonial		*/
.testimonial_quote_image {position:absolute; top:24px; left:24px;}
.testimonial_quote_text_wrapper {position:relative; float:left; background:#f6f7f9; padding:24px 24px 54px 112px;}
.testimonial_quote_text_wrapper span {font-family:'PTSansItalic'; font-size:18px; line-height:20px;}
.testimonial_quote_bottom_wrapper {position:relative; padding:15px 24px 15px 24px; border-top:2px #f04a39 solid; background:#ebecee;}
.testimonial_quote_bottom_wrapper span span {font-family:'PTSansBold'; display:block;}
.testimonial_quote_bottom_wrapper img {position:absolute; top:-40px; right:48px;}

/* tabs */
.tabs-nav li {float:left;}
.tabs-nav li a {font-family:'PTSansRegular'; font-size:14px; color:#807f7f; padding:10px; margin-bottom:1px; background:#f6f7f9; display:block;}
.tabs-nav li a.active {color:#fff; background:#f04a39;}
.tabs-nav li a.hover {color:#fff; background:#f04a39;}
.tabs-container {border:1px solid #f04a39; padding:20px; background:#fff; margin-top:-1px;}

/* accordion */
a.acc-trigger {display:block; background:#f6f7f9; position:relative; padding:14px 20px 14px 10px; border-left:45px solid #f04a39;   color:#515151; border-bottom:1px #a9a8a8 solid; margin:0 0 2px 0; }
.acc-content { position:relative; margin:-5px 0 2px 0; overflow:hidden; padding:0px 20px 25px 10px; border-left:45px #f04a39 solid; background:#f6f7f9; border-bottom:1px #a9a8a8 solid;}
a.acc-trigger.active {border-bottom:0;}
.acc-arrow {display:block; background:url(images/elements/arrow.png) no-repeat 0px 0px; height:22px; width:22px; position:absolute; top:10px; left:-33px;}
a.acc-trigger.active .acc-arrow {background:url(images/elements/arrow.png) no-repeat bottom left;}

/*	Info_box	*/
.info_box {display:block; border:1px solid #a9a8a8; background:#f6f7f9; padding:24px; font-weight:100; font-family:'OstrichSansMedium'; color:#807f7f; font-size:32px; line-height:32px;}

/*	Block Quote		*/
.block_quote img {position:absolute; top:24px; left:24px;}
.block_quote span {background:#f6f7f9; position:relative; font-family:'PTSansItalic'; font-size:18px; line-height:20px; display:block; padding:24px 24px 24px 112px;}



/*					PRODUCT PAGE					*/

.product_page_wrapper {position:relative;}

.product_page_slider_text_wrapper {width:416px; float:right; margin-top:70px; position:relative;}
.product_page_slider_text_wrapper span {display:block; padding-left:10px;}
.product_page_slider_text_wrapper h3 {padding-left:10px;}
.product_page_slider_text_wrapper .blog_post_social_links {float:none;}
.product_page_slider_text_wrapper .blog_post_social_links li.first {margin-left:0;}
.product_page_slider_text_wrapper .blog_post_social_links li.last {margin-right:0;}
.products_page_slider_text_holder.absolute {position:absolute; top:0; left:0; opacity:0; filter:Alpha(opacity=0);}
.product_page_slider_image_wrapper {width:520px; height:290px; float:left; position:relative;}
.product_page_slider_loader {padding:130px 245px 129px 244px; opacity:0.3; filter:Alpha(opacity=30); background:#000000; position:absolute; top:0; left:0;}


.product_page_slider_controles {position:absolute; right:0; top:66px;}

.product_page_slider_controles .products_page_left,
.product_page_slider_controles .products_page_right {display:block; height:40px; width:40px; background:#f04a39 url(images/elements/arrow2.png) no-repeat 8px 6px; float:right; margin-left:1px;}
.product_page_slider_controles .products_page_right {background:#f04a39 url(images/elements/arrow2.png) no-repeat -68px 6px;}
.product_page_slider_controles .products_page_left:hover,
.product_page_slider_controles .products_page_right:hover {background-color:#F4773D;}
.product_page_slider_controles .products_page_left.desabled,
.product_page_slider_controles .products_page_left.desabled:hover,
.product_page_slider_controles .products_page_right.desabled,
.product_page_slider_controles .products_page_right.desabled:hover {cursor:default; background-color:#515252;}

.product_small_product_blocks_wrapper {height:0; overflow:hidden;}
.small_product_block {float:left; width:183px; margin-right:76px; cursor:pointer;}
.small_product_block.last {margin-right:0;}
.small_product_block img {width:183px;}
.small_product_block .small_product_block_text {text-align:center; display:block; padding:10px 0 10px 0;}
.small_product_block .small_product_block_text span {text-align:center; display:block; padding:10px 0 10px 0; color:#4f4f4f; padding:0;}
.small_product_block.active .small_product_block_text {background:#ebecee;  border-top:1px solid #f04a39; padding-top:9px;}

.price_info {float:left; width:456px; border-right:1px solid #a9a8a8; margin-right:-1px; padding-right:23px;}
.price_info span {display:block; text-align:right; margin:0 0 10px 0;}
.price_info span span {color:#4f4f4f; margin-bottom:30px;}
.price {margin:10px 0 5px 0; float:right; line-height:32px; font-size:32px; font-weight:700; color:#818181; position:relative;}
.price div {position:absolute; z-index:3; top:14px; left:0; background:#f04a39; height:4px; width:100%;}
.discount {float:right; line-height:40px; font-size:40px; font-weight:700; color:#f04a39;}

.order_now {float:left; width:456px; border-left:1px solid #a9a8a8; padding-left:24px;}
.order_now span {display:block; text-align:left; margin:0 0 10px 0;}
.order_now span span {color:#4f4f4f; margin-bottom:30px;}
.order_now input {float:left; width:320px; height:30px; border:#818181 2px solid;}
.order_now a.read_more {float:left; width:110px; margin-left:10px;}
.order_now span.quantity {margin:30px 0 5px 0;}

.product_movable_text_wrapper {overflow-x:hidden; overflow-y:hidden; position:relative;}
.product_movable_text_holder {width:100%; top:0; left:0;}
.product_movable_text_holder.absolute {position:absolute; top:0; left:100%;}

.order_now .product_movable_text_holder.absolute {left:-100%}

.piecemaker_holder {margin:-100px -20px;}