/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default {
	width:100%; 
	margin:0 0 20px; 
	overflow:hidden; 
	border-bottom:2px #f04a39 solid;
	/*border-top:2px #f04a39 solid;*/
}

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;

	background:url() no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivoSlider:hover .nivo-directionNav {
	display:block;
}
.theme-default .nivo-directionNav {
	display:none;
}


.theme-default .nivo-directionNav a {
	display:block;
	width:39px;
	height:39px;
	background:#f04a39 url(../../images/social/arrow-right.png) no-repeat;
	text-indent:-9999px;
	border:0;
	position:absolute;
	z-index:10;
	cursor:pointer;
	top:50% !important;
	margin:-20px 0 0 0;
}

.theme-default .nivo-directionNav a:hover {
	background-color:#F4773D;
}

.theme-default .nivo-directionNav a.nivo-nextNav {
	background-image:url(../../images/social/arrow-right.png) no-repeat;
	right:15px;
}
.theme-default .nivo-directionNav a.nivo-prevNav {
	left:15px;
	background-image:url(../../images/social/arrow-left.png);
}

.theme-default .nivo-caption {
	background-color:#f04a39; 
	color:#fff; 
	font-size:40px; 
	line-height:40px; 
	font-family:'OstrichSansMedium' !important;
	opacity:1; 
	filter:Alpha(opacity=100);
	padding:6px 10px 1px 10px; 
	bottom:15px;
	left:15px;
	width:auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}